mkdocs-material>=9.5,<9.6
mkdocs-awesome-pages-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-rss-plugin
pymdown-extensions
mdx_truly_sane_lists          # for nested lists
