---

name: Create MkDocs Material Wiki
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Install Python dependencies
        run: pip install -r requirements.txt
      - name: Deploy to GitHub pages
        run: mkdocs gh-deploy --force
        env:
          CI: true
          MKDOCS_SITE_URL: https://dreknix.github.io/wiki/
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.MKDOCS_GIT_COMMITTERS_APIKEY }}

...
